# dependencies
/node_modules

# misc
.DS_Store
.env.*

# IDE
/.idea
/.vscode

# git
/git.json

# builders
/keystore
/artifacts
/cache
/typechain-types
/dist
/*.tar
/*.tar.gz
/flattened
/_dev
.deps
artifacts

# db
/database
