<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Balance Alert: ${address} reaches limit (${limit}) @${blockNumber}</title>
</head>
<body>
<span style="font-family: ▷ Arial, sans-serif; "> </span>
<p><span style="font-family: ▷ Arial, sans-serif; "><b>WARNING</b></span></p>
<p></p>
<div class="moz-forward-container">
    <div class="moz-forward-container">
        <p><span style="font-family: ▷ Arial, sans-serif; ">Address(${address}) balance changed from (${balancePast}) to (${balanceNow}) at block(${blockNumber}).</span></p>
    </div>
    <div class="moz-forward-container">
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Address: ${address}</a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Balance Changed: ${balanceChanged}</a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Balance Now: ${balanceNow}</a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Balance Past: ${balancePast}</a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Rule: ${rule}</a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Chain: ${chain}</a>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Network: ${network}</a>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ ChainId: ${chainId}</a>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><a>▷ Blockchain Explorer URL: <a href="${addressUrl}">${addressUrl}</a></a><br>
        </span></p>
        <p><span style="font-family: ▷ Arial, sans-serif; "><br>
        </span></p>
    </div>
    <span style="font-family: ▷ Arial, sans-serif; "> </span>
</div>
</body>
</html>
